# Logs
logs
*.log
npm-debug.log*

# Node / Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Environment Variables
.env
